.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
  }
  
  .burger-icon {
    font-size: 30px;
    cursor: pointer;
  }
  